body {
    padding-top: 50px;
}

.thumbnail {
    background-color: #FAFAFA;
}

    .thumbnail p {
        color: #00bfff;
    }

.latestsocks .thumbnail {
    margin-bottom: 0;
}

.caption h3 {
    margin: 0;
}

.thumbnail a {
    margin: 0;
}

.thumbnail p {
    color: #171619;
}
