@model lostsocks.Models.Socks.SockModel[]

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello, Sock Lovers!</h1>
    <p>Do you have a lost sock?  Finally a place to share your sock, or get a match.</p>
    <p>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary btn-large" })</p>
</div>


<h2>Latest Socks</h2>

<div class="row">
    @foreach (var sock in Model)
    {
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <a href="#" class="thumbnail">
                    <img src="@sock.ImageSrc" alt="@sock.Name" style="width: 260px; height: 180px;">
                </a>
                <div class="caption">
                    <h4>@sock.Name</h4>
                </div>
            </div>
        </div>
    }
</div>

