@model OrderingPizza.Models.Pizza.AddPizzaModel

@{
    ViewBag.Title = "Pizza New";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Add","Pizza", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    
}