@*@model OrderingPizza.Models.PizzaViewModel*@
@{
    ViewBag.Title = "Order";
}
<h2>@ViewBag.Message</h2>

@*@using (Html.BeginForm("OrderPizza", "Order", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{    
    <div class="form-group">
        @Html.LabelFor(m => m.Type, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Type, new { @class = "form-control" })
        </div>
    </div>
}*@
<div class="row">
    <div class="col-md-6">
        <select class="form-control">
            <option>Margherita</option>
            <option>Pepperoni</option>
            <option>Veggie</option>
            <option>Hawaiian</option>
        </select>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6">
        <button type="button" class="btn btn-default">Submit order</button>
    </div>        
</div>



